description "{{ item.value.description }}"
{% if item.value.rdomain is defined %}
rdomain {{ item.value.rdomain }}
{% endif %}

{% if item.value.ipmain == "up" %}
up
{% elif item.value.ipmain == "dhcp" %}
dhcp
{% else %}
inet {{ item.value.ipmain }}
{% if item.value.ipaliases is defined %}
{% for alias in item.value.ipaliases %}
inet alias {{ alias }}
{% endfor %}
{% endif %} {# ipalias #}
{% endif %} {# up/dhcp #}


{% if item.value.commands is defined %}
{% for command in item.value.commands %}
!{{ command }}
{% endfor %}
{% endif %}
